//fonts
@import 'assets/fonts/fonts.css';

//styles
@import 'assets/styles/functions';
@import 'assets/styles/mixins';
@import 'assets/styles/resets';
@import 'assets/styles/variables';
@import 'assets/styles/css-variables';
@import 'assets/styles/media';

//swiper
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/css/scrollbar';

a {
	text-decoration: none;
}

body {
	background: #fff;
	font-family: 'Lato';
	font-weight: normal;
	font-size: 14px;
}
