//fonts
@import './../fonts/fonts.css';

//styles
@import './functions';
@import './mixins';
@import './resets';
@import './css-variables';
@import './variables';
@import './media.scss';

//swiper
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/css/scrollbar';



a {
	text-decoration: none;
}

body {
	background: #fff;
	font-family: "Lato";
	  font-weight: normal;
		  font-size: 14px;
}
